@font-face {
  font-family: mainFont;
  src: url(../media/Fonts/LibreFranklin-Regular.ttf); }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: mainFont; }

body {
  background: #e0e0e0; }

.wrap {
  margin: 0 auto;
  width: 78%; }

.grid-wrap {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%; }

.col {
  background-color: red;
  height: 100px;
  margin-bottom: 5px;
  margin-left: 5px; }

.col-1 {
  width: 100%; }

.col-2 {
  width: calc(50% - 5px); }

.col-3 {
  width: calc(33.33% - 5px); }

.col-4 {
  width: calc(25% - 5px); }

.col-5 {
  width: calc(20% - 5px); }

.col-6 {
  width: calc(16.667% - 5px); }

.col-7 {
  width: calc(14.28% - 5px); }

.col-8 {
  width: calc(12.5% - 5px); }

.col-9 {
  width: calc(11.11% - 5px); }

.col-10 {
  width: calc(10% - 5px); }

.col-11 {
  width: calc(9.09% - 5px); }

.col-12 {
  width: calc(8.33% - 5px); }

@media (max-width: 460px) {
  .col {
    width: 100%; } }

.info-nav {
  display: -ms-flexbox;
  display: flex;
  background: #fff; }
  .info-nav .info-nav-list {
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 27%;
    height: 36px;
    -ms-flex-align: center;
    align-items: center; }
    .info-nav .info-nav-list a {
      text-decoration: none;
      color: #000; }

.search-nav {
  background: #007ec4; }
  .search-nav .search-nav-flex {
    display: -ms-flexbox;
    display: flex;
    height: 137px;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: start;
    justify-content: flex-start; }
    .search-nav .search-nav-flex .left {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: start;
      justify-content: flex-start;
      width: 60%;
      -ms-flex-align: center;
      align-items: center; }
      .search-nav .search-nav-flex .left .logo {
        width: 250px;
        margin-right: 50px; }
      .search-nav .search-nav-flex .left .search-form input {
        width: 342px;
        height: 50px; }
      .search-nav .search-nav-flex .left .search-form button {
        height: 50px;
        width: 80px;
        margin-left: -5px; }
    .search-nav .search-nav-flex .nav-btns {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: justify;
      justify-content: space-between;
      width: 20%; }

.main-nav {
  background: #005e91;
  height: 55px; }
  .main-nav .main-nav-flex {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    list-style: none;
    -ms-flex-align: center;
    align-items: center;
    height: 55px; }
    .main-nav .main-nav-flex a {
      color: #fff;
      text-decoration: none; }

.hidden-nav {
  display: none; }
