@font-face {
  font-family: mainFont;
  src: url(../media/Fonts/LibreFranklin-Regular.ttf); }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: mainFont; }

body {
  background: #e0e0e0; }

.info-nav {
  display: -ms-flexbox;
  display: flex;
  background: #fff; }
  .info-nav .info-nav-list {
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 30%;
    height: 36px;
    -ms-flex-align: center;
    align-items: center; }
    .info-nav .info-nav-list a {
      text-decoration: none;
      color: #000; }

.search-nav {
  background: #007ec4; }
  .search-nav .search-nav-flex {
    display: -ms-flexbox;
    display: flex;
    height: 137px;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: start;
    justify-content: flex-start; }
    .search-nav .search-nav-flex .left {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: start;
      justify-content: flex-start;
      width: 60%;
      -ms-flex-align: center;
      align-items: center;
      position: relative; }
      .search-nav .search-nav-flex .left .logo {
        width: 250px;
        margin-right: 50px; }
      .search-nav .search-nav-flex .left .search-form {
        position: relative; }
        .search-nav .search-nav-flex .left .search-form input {
          width: 342px;
          height: 50px; }
        .search-nav .search-nav-flex .left .search-form button {
          height: 50px;
          width: 80px;
          margin-left: -5px;
          background-color: #005e91;
          border: none;
          color: #fff;
          position: absolute;
          left: 347px;
          top: 0; }
    .search-nav .search-nav-flex .nav-btns {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: justify;
      justify-content: space-between;
      width: 20%;
      color: #f0f9fc;
      text-align: center; }

.hidden-results {
  position: absolute;
  box-sizing: border-box;
  padding: 10px 10px 10px 20px;
  background-color: white;
  min-width: 567px;
  min-width: auto;
  top: 75px;
  left: 300px;
  display: none; }
  .hidden-results .result {
    display: -ms-flexbox;
    display: flex;
    height: 69px;
    margin: 20px 0;
    -ms-flex-align: center;
    align-items: center; }
    .hidden-results .result .flex-results-left {
      display: -ms-flexbox;
      display: flex;
      position: relative; }
      .hidden-results .result .flex-results-left .image {
        width: 70px;
        height: 55px; }
      .hidden-results .result .flex-results-left div {
        position: absolute;
        bottom: -8px;
        left: 69px; }
  .hidden-results .flex-results-right {
    display: -ms-flexbox;
    display: flex; }
    .hidden-results .flex-results-right button {
      margin: 0 10px;
      width: 77px;
      height: 30px;
      border: none;
      color: white;
      font-size: 13px; }
    .hidden-results .flex-results-right .quote {
      background: #00a6ff; }
    .hidden-results .flex-results-right .Basket {
      background: #005e91; }
  .hidden-results .value {
    text-transform: capitalize;
    font-size: 13px; }
  .hidden-results span {
    font-size: 11px; }

.main-nav {
  background: #005e91;
  height: 55px; }
  .main-nav .main-nav-flex {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    list-style: none;
    -ms-flex-align: center;
    align-items: center;
    height: 55px; }
    .main-nav .main-nav-flex a {
      color: #fff;
      text-decoration: none;
      padding: 14px 10px 19px 10px; }
      .main-nav .main-nav-flex a:hover {
        background-color: #f0f9fc;
        padding: 14px 10px 19px 10px;
        border-top: 5px solid #00a6ff;
        color: #3c637a; }
  .main-nav .dropdown-trigger.active {
    background-color: #f0f9fc;
    padding: 14px 10px 19px 10px;
    border-top: 5px solid #00a6ff;
    color: #3c637a; }

.dropdown {
  display: none;
  background-color: #f0f9fc;
  padding: 25px 0;
  border-bottom: 1px solid #007ec4; }
  .dropdown .hidden-nav {
    display: none;
    width: 100%;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .dropdown .hidden-nav ul {
      list-style: none; }
      .dropdown .hidden-nav ul li {
        margin: 15px 0;
        color: #24546e; }
        .dropdown .hidden-nav ul li a {
          text-decoration: none;
          color: black; }

.wrap {
  margin: 0 auto;
  width: 78%; }

.dropdown-mobile {
  display: none; }

.mobile-btn {
  display: none; }

.search-form-mobile {
  display: none; }

@media (max-width: 460px) {
  .mobile-btn {
    display: block; }
  .main-nav {
    display: none; }
  .info-nav {
    display: none; }
  .search-form {
    display: none; }
  .search-nav-flex {
    -ms-flex-flow: column;
    flex-flow: column;
    height: 138px;
    width: 100%; }
  .search-nav .search-nav-flex .nav-btns {
    width: 100%;
    padding: 0 10px; }
    .search-nav .search-nav-flex .nav-btns img {
      height: 27px;
      width: 37px; }
  .dropdown-mobile {
    background: white; }
    .dropdown-mobile ul {
      list-style: none; }
      .dropdown-mobile ul .title {
        font-size: 15px;
        color: #24546e; }
      .dropdown-mobile ul li {
        border-bottom: 1px solid #007ec4;
        padding: 13px 0; }
        .dropdown-mobile ul li a {
          color: black;
          text-decoration: none; }
  .search-form-mobile {
    position: relative;
    margin-top: 20px; }
    .search-form-mobile input {
      width: 80%;
      height: 50px;
      border: 1px solid #007ec4;
      padding: 10px; }
    .search-form-mobile button {
      position: absolute;
      height: 50px;
      width: 30%;
      background-color: #005e91;
      padding: 20px;
      display: -ms-flexbox;
      display: flex;
      top: 0;
      left: 80%;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-pack: justify;
      justify-content: space-between;
      color: white;
      border: 1px solid #007ec4; } }
