.search-nav
  background: $light-blue
  .search-nav-flex
    display: flex
    height: 137px
    align-items: center
    justify-content: flex-start
    .left
      display: flex
      justify-content: flex-start
      width: 60%
      align-items: center
      .logo
        width: 250px
        margin-right: 50px
      .search-form
        input
          width: 342px
          height: 50px
        button
          height: 50px
          width: 80px
          margin-left: -5px
    .nav-btns
      display: flex
      justify-content: space-between
      width: 20%
